src/*.exe
src/talant
src/talantd
src/test_talant
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.talant

# Compilation and Qt preprocessor part
*.qm
Makefile
talant-qt
Talant-Qt.app

# Unit-tests
Makefile.test
talant-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb/Makefile
